.me-border {
  border-radius: 100%;
  vertical-align:middle;
  width: 14em;
  height: 14em;
  padding:.1em;
  /* border: 0.1em solid rgba(255, 255, 255, 0.01);
  background: rgba(255, 255, 255, 0.01); */
}

.me-card {
  background-color: inherit;
  color: aliceblue;
  height: 20em;
}
.me-school { 
  color: #FFCD00;
  text-decoration: none !important;
  position: relative;
}
.me-school:hover { 
  color: rgb(255, 205, 0);
}
.me-school:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #caa200;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.me-school:hover:after { 
  width: 100%; 
  left: 0; 
}
.me-department { 
  color: #FFCD00;
  text-decoration: none !important;
  position: relative;
}
.me-department:hover { 
  color: #FFCD00;
}
.me-department:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #caa200;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.me-department:hover:after { 
  width: 100%; 
  left: 0;
}
.navigate{
  color: aliceblue;
  background-color: black;
  margin-left: 0;
  margin-right: 0;
}
.logo{
  background: url('../imgs/logo.png');
    height: 60px;
    width: 80px;
    display: block;
    /* Other styles here */
}
.home{
  font-family: "Courier New";
  font-weight: 600;
  color: white;
}
/* This only changes this particular animation duration */
.animate__animated.animate__fadeIn {
  --animate-duration: 1.4s;
  --animate-delay:.1s;
}
.card-text-size{
  font-size: 1.05em;
}
#me-pic{
  width: 18em;
  height: 18em;
}
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
.navbar-toggler {
  border: none;
  background: transparent !important;
  position: relative;
}
.navbar-toggler .top-bar {
  position: absolute;
  transform: rotate(-45deg) translateY(0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(45deg) translateY(0);
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0deg) translateY(-.2em);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0deg) translateY(.2em);
}